{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}

{% block page_product_detail_price_content %}
  {% set listPrice = price.listPrice %}
  {% set isListPrice = listPrice.percentage > 0 %}
  {% set isRegulationPrice = price.regulationPrice != null %}
  <p class="product-detail-price{% if isListPrice %}{% endif %}{% if isRegulationPrice %}{% endif %}">
    {% if isListPrice %}
      <span class="product-detail-list-price-wrapper"><span class="list-price-price">{{ listPrice.price|currency }}{{ 'general.star'|trans|sw_sanitize }}</span></span>
    {% endif %}

    {{ price.unitPrice|currency }}{{ 'general.star'|trans|sw_sanitize }}
  </p>

  {% if isRegulationPrice %}
    <span class="product-detail-list-price-wrapper"><span class="regulation-price">{{ 'general.listPricePreviously'|trans({ '%price%': price.regulationPrice.price|currency }) }}{{ 'general.star'|trans|sw_sanitize }}</span></span>
  {% endif %}
{% endblock %}
