{% sw_extends '@Storefront/storefront/layout/navigation/flyout.html.twig' %}

{% block layout_navigation_flyout_bar_category_link_text %}
  {{ name }} {{ 'general.categories'|trans }}
{% endblock %}

{% block layout_navigation_flyout_categories %}
  {#
  {% set kachels = [] %}

  {% for i in 1..3 %}
    {% set nameField = 'custom_category_dropdown_name' ~ i %}
    {% set linkField = 'custom_category_dropdown_link' ~ i %}
    {% set imgField = 'custom_category_dropdown_img' ~ i %}
    {% set navigationImgField = 'custom_category_navigation_img' ~ i %}

    {% if category.customFields[nameField] and category.customFields[linkField] and category.customFields[imgField] %}
      {% set mediaID = category.customFields[navigationImgField] %}
      {% set mediaCollection = searchMedia([mediaID], context.context) %}
      {% set propertyMedia = mediaCollection.get(mediaID).url %}

      {% set kachel = { name: category.customFields[nameField], url: category.customFields[linkField], media: propertyMedia, active: true } %}
      {% set kachels = kachels|merge([kachel]) %}
    {% endif %}
  {% endfor %}
#}
  {{ parent() }}
  {% if kachel1 or kachel2 or kachel3 %}
    <div class="custom-dropdown-box">
      <div class="cusotm-box">
        <a href="{{ kachel1.url }}" title="{{ kachel1.name }}">
          <img src="{{ kachel1.media }}" />
          <div>{{ kachel1.name }}</div>
        </a>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block layout_navigation_flyout_teaser %}

{% endblock %}
